
.page-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.poster-text {
    font-weight: 900 !important;
    font-size: 5rem;
    letter-spacing: 2px;
    color: #19350c;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    line-height: 1.2; 
}

.vignette-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.floating-buttons {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .floating-button {
    padding: 10px 20px;
    background-color: #19350c;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .floating-button:hover {
    background-color: #0056b3;
  }

