
.page-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.poster-text {
    font-weight: 900 !important;
    font-size: 5rem;
    letter-spacing: 2px;
    color: #19350c;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    line-height: 1.2; 
}

.vignette-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

